.image {
    width: 100px;
    height: 100px;
    margin: 0 45px;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.slider {
    overflow-x: hidden;
    width: 950px;
}

.slider-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.slider-container {
    margin: 10vh auto;
}