* {
    /* box-sizing: border-box;
    margin: 0%; */
    font-family: Roobert, sans-serif;
    /* overflow-x: hidden;
    width: 100%; */
}


/*---------------------------------
------Section-1 Styling------------
----------------------------------*/

.hero {
    background-color: #f6eefc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 150px;
    font-size: large;
    height: 700px;
}

.righthero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    /* background-color: red; */
    height: 400px;
    width: 500px;
}

h1 {
    font-weight: 500;
    font-size: 4.8rem;
}

.para {
    font-size: x-large;
    font-weight: 500;
}

.button {
    background-color: #7622d7;
    color: white;
    border: 0.125rem solid #7622d7;
    cursor: pointer;
    transition: all .3s;
    box-shadow: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.875rem 3.375rem;
    font-weight: 600;
    border-radius: 2.5rem;
    font-size: 1.5rem;
    line-height: 1.25rem;
    /* x` */
}

button:hover {
    background-color: #4b227b;
    color: white;
    border: 0.125rem solid #7622d7;
    cursor: pointer;
}

.lefthero {
    display: flex;
    align-items: center;
    justify-content: start;
}


/*---------------------------------
------Section-3 Styling------------
----------------------------------*/

.St {
    background-color: #7622d7;
    color: white;
    font-family: Roobert, sans-serif;
    font-size: larger;
}

.Sttop-ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.selected {
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}


/*---------------------------------
------Section-4 Styling------------
----------------------------------*/

.St {
    height: 800px;
}

.Sttop {
    padding-top: 50px;
    width: 1400px;
    padding-left: 100px;
}

.cardbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1040px;
    height: 450px;
    background-color: #f6eefc;
    margin-left: 16%;
    margin-top: 50px;
    gap: 80px;
}

.main {
    /* background-color: red; */
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    margin-bottom: 40px;
}

p,
h4 {
    color: black;
}


/*---------------------------------
------Section-5 Styling------------
----------------------------------*/

.Sf-hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 700px;
    padding: 0px 10%;
    background-color: #f6eefc;
}

.hero-left {
    height: 430px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.hero-left-content {
    height: 300px;
    width: 500px;
    gap: 100px;
}

.sfpara {
    font-size: 1.8rem;
    margin-top: 20px;
}

.s4-h2 {
    font-size: 4rem!important;
    line-height: 4rem!important;
}

.s4-left-listgroup {
    /* background-color: blue; */
    width: 500px;
    height: 300px;
    margin-bottom: 20px;
}

.s4-listitems {
    font-size: 2rem;
}


/*---------------------------------
------Section-5 Styling------------
----------------------------------*/

.hero-violet {
    background-color: #ac7ae7;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10%;
}

.s5-h1 {
    font-size: 4rem!important;
    line-height: 4rem!important;
}

.s5-para {
    font-size: 1.7rem;
}

.s5-list {
    padding: 20px 0px 0px 20px;
    font-size: 1.7rem;
}

.s5-hero-right {
    /* background-color: red; */
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.s5-button {
    background: none;
    color: black;
    border: 0.125rem solid black;
    line-height: 2rem;
    cursor: pointer;
    transition: all .3s;
    box-shadow: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.875rem 3.375rem;
    font-weight: 600;
    border-radius: 2.5rem;
    font-size: 1.5rem;
    line-height: 1.25rem;
}

.between {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 160px;
}

.between-h1 {
    font-size: 4rem;
    font-weight: 500;
}


/*---------------------------------
------Section-6 Styling------------
----------------------------------*/

.s6-hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    margin: 0px 10%;
}

.s6-right {}

h2 {
    font-size: 2.8rem;
}

p {
    font-size: 1.5rem;
}


/*---------------------------------
------Section-7 Styling------------
----------------------------------*/

.s7-hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 10%;
    height: 600px;
}

.s7-left {
    display: flex;
    flex-direction: column;
    height: 280px;
    align-items: start;
    justify-content: space-around;
}


/*---------------------------------
------Section-8 Styling------------
----------------------------------*/

.s8-hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
}

.s8-right {
    display: flex;
    flex-direction: column;
    height: 280px;
    align-items: start;
    justify-content: space-around;
}


/*---------------------------------
------Section-9 Styling------------
----------------------------------*/

.s9-hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 10%;
    height: 600px;
}

.s9-left {
    display: flex;
    flex-direction: column;
    height: 280px;
    align-items: start;
    justify-content: space-around;
}


/*---------------------------------
------Section-10 Styling------------
----------------------------------*/

.s10 {
    height: 600px;
    background-color: #ac7ae7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.s10-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    gap: 40px;
    max-width: 100rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.s10-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.625rem;
    line-height: 3rem;
    letter-spacing: -.0125rem;
    font-weight: 500;
}

.s10-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem 2rem;
}

.s10-stats {
    box-sizing: border-box;
    border: 0 solid #a4aaaf;
}


/*---------------------------------
------Section-11 Styling------------
----------------------------------*/

.s11-hero {
    width: 90%;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: space-around;
    height: 10 00px;
    padding: 100px 140px;
    margin: 0px 80px;
}

.card {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 50rem;
    height: 85rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.crd-button {}

.ind1 {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    width: 50rem;
    height: 40rem;
    background-color: skyblue;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    margin-left: 20px;
}

.card-img-top-vertical {
    height: 400px;
    width: 200px;
}

.ind2 {
    display: flex;
    flex-direction: row;
    width: 50rem;
    height: 40rem;
    background-color: yellow;
}


/*---------------------------------
------Section-13 Styling------------
----------------------------------*/

.s14-hero {
    height: 800px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7622d7;
    padding: 0px 10%;
}

.s14-left {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}